html {
  	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

#home {
	background: url(../img/homeback.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100vh;
}

.navbar {
	background: #A6A6A8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: sticky;
	width: 100%;
}

.nav-link {
	color: #FFFFFF;
	cursor: alias;
	font-family: Petrona;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}

.nav-link:hover{
	color:black;
}

.nav-item {
	margin-left: 15px;
	margin-right: 15px;
}

.description {
	left: 50%;
	position: absolute;
	top: 60%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	font-family: 'Londrina Shadow', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 73px;
	line-height: 80px;
	color: #000000;
}

.description #horizontal-line {
	width: 750px;
	height: 3px;
	background-color: black;
}

.description p {
	font-family: 'Dekko', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 54px;
	color: #000000;
}

#readmore {
	font-family: 'Dekko', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 0px;
	left: 50%;
	position: absolute;
	top: 86%;
	transform: translate(-50%, -55%);
	text-align: center;
	margin-top: 50px;
	padding: 12px;
}

.btn-scroll-down i {
	left: 50%;
	position: absolute;
	top: 97%;
	transform: translate(-50%, -55%);
	text-align: center;
	font-size: 36px;
	color: #6E6A6F;
	cursor: alias;
}

.btn-scroll-down i:hover{
	color: #A6A6A8;
}

#about {
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #DBDADC;
}

#about h2 {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 70px;
	line-height: 62px;
	text-align: center;
	color: #223A77;
	margin-bottom: 20px;
	padding-top: 70px;
}

#about p {
	font-family: 'Satisfy', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	text-align: center;
	margin-bottom: 10px;
}

#about hr {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-right: 100px;
    border-color: #727878;
    /*opacity: 0.5;*/
    border: 2px dotted #A3A09F;
}

* {
  	box-sizing: border-box;
}

#about .about {
	margin: 0px 100px;
	flex-grow: 1;
	background-color: #E5E1E0;
}

#about .column {
  	float: left;
  	width: 50%;
  	padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  	#about .column {
    	width: 100%;
  	}
}

.profile-img img {
 	border-radius: 50%;
 	width: 300px;
  	top: 40px;
  	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  	margin: auto;
  	display: block;
  	position: relative;
}

p#desc{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	color: #000000;
	margin-top: 85px;
	display: block;
}

.about-left{
	border-right: 2px dotted #A3A09F;
	max-height: 520px;
}

.about-right{
	border-left: 2px dotted #A3A09F;
	max-height: 520px;
}

.about-right label{
	font-family: 'Loved by the King', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	font-weight: bold;
	color: #223a77;
}

.input-group{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px !important;
}

.form-profile{
	margin-top: 30px;
	margin-left: 20px;
}

#experience{
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #e5e1e0;
}

#experience .experience-top{
	background: #e5e1e0;
	border-top: 3px dotted #A3A09F;
}

#experience h2 {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 70px;
	line-height: 62px;
	text-align: center;
	color: #223A77;
	margin-bottom: 20px;
	padding-top: 70px;
}

#experience p {
	font-family: 'Satisfy', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	text-align: center;
	margin-bottom: 10px;
}

#experience hr {
	width: 100%;
    border-top: 4px dotted #A3A09F;
    margin: 0;
}

#experience .experience {
	background-color: #e5e1e0;
	width:88%;
	margin: auto;
}

.experience-left{
	border-right: 4px dotted #A3A09F;
	min-height: 505px;
}


#experience ul.satu, ul.dua, ul.tiga{
	list-style: disclosure-closed !important;
	margin-left: -17px;
}

#experience .bg-ul-satu{
	background: #dbdadc;
	max-height: 504px;
}
#experience .bg-ul-dua{
	background: #e2d8ce;
	max-height: 504px;
}

#experience ul li{
	font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    color: #000000;
    margin-top: 30px;
}

#experience h3.satu, h3.dua, h3.tiga{
    font-family: 'Loved by the King', cursive;
    font-size: 34px;
    font-style: normal;
    font-weight: bolder;
    line-height: 12px;
    margin-top: 30px;
    display: block;
    color: #223a77 !important;
    text-align: center;
    border-bottom: 3px dashed #223a77;
    padding-bottom: 20px;
}

#abilities{
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #dbdadc;
}

#abilities .abilities-top{
	background: #dbdadc;
	border-top: 3px dotted #A3A09F;
}

#abilities h2 {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 70px;
	line-height: 62px;
	text-align: center;
	color: #223A77;
	margin-bottom: 20px;
	padding-top: 70px;
}

#abilities p {
	font-family: 'Satisfy', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 26px;
	text-align: center;
	margin-bottom: 13px;
}

#abilities .satu{
	border-top:3px dashed #a3a09f;
	background: #e5e1e0;
	margin-top: -4px;
}

#abilities .satu h4{
	font-family: 'Amatic SC', cursive;
	font-size: 29px;
    font-style: normal;
    font-weight: bolder;
	color: #223a77;
	margin: 4px 0 0 15px;
}

/*RATING*/
#abilities label{
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
}

.rating{
	margin-top: -31px;
	margin-left: 300px;
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
	height: 20px !important;
}

.rating label{
	display: block;
	margin-right: 5px;
	float: left;
}

.rating label:before{
	content:'\f005';
	font-family: fontAwesome;
	display: block;
	font-size: 25px;
	color: #a3a09f;
	margin-top: -10px;
}

.rating label:after{
	content:'\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size:25px;
	color: #223a77;
	top:0;
	opacity: 0;
}

.rating label.aktif:after{
	opacity: 1;
}

#musings{
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #e5e1e0;
	padding-top: 55px;
}

.navbar-musings {
	background: #A6A6A8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	width: 100%;
}

#musings .musings-top{
	background: #e5e1e0;
}

#musings h2 {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: bolder;
	font-size: 70px;
	line-height: 62px;
	text-align: center;
	color: #223A77;
	margin-bottom: 20px;
	padding-top: 30px;
}

#musings p.quote4, p.quote6, p.quote8 {
	font-family: 'Handlee', cursive;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	text-align: left;
	margin-bottom: 20px;
	padding-left: 15px;
	line-height: 42px;
	padding-top: 10px;
}

#musings p.quote5, p.quote7, p.quote9 {
	font-family: 'Handlee', cursive;
	font-style: italic;
	font-weight: normal;
	font-size: 25px;
	text-align: right;
	margin-bottom: 20px;
	padding-right: 15px;
	line-height: 42px;
	margin-top: -5px;
}

#musings hr {
	width: 100%;
    border-bottom: 4px dotted #A3A09F;
    margin: 0;
    border-top: 0px;
}

#musings .musings {
	flex-grow: 1;
	background-color: #e5e1e0;
	width:100%;
	min-height: 220px;
	margin: auto;
}

#musings .musings .musings-left{
	background-color: #e2d8ce;
	padding: 20px 10px;
	min-height: 197px;
	max-height: 197px;
	padding: 0px;
}

#musings .musings .musings-left img{
	width: 100%;
	min-height: 197px;
	max-height: 197px;
	padding: 2px;
	background-color: #e5e1e0;
}

#musings .musings .musings-right{
	background-color: #e2d8ce;
	padding: 0px;
	min-height: 197px;
	max-height: 197px;
}

#musings .musings .musings-right img{
	width: 100%;
	min-height: 197px;
	max-height: 197px;
	padding: 2px;
	background-color: #e5e1e0;
}

#contact{
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #e5e1e0;
	margin-bottom: 0px;
}

#contact .contact-top{
	background: #e5e1e0;
	border-top: 3px dotted #A3A09F;
}

#contact h2 {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: 990;
	font-size: 70px;
	line-height: 62px;
	text-align: center;
	color: #223A77;
	margin-bottom: 20px;
	padding-top: 70px;
}

#contact p {
	font-family: 'Satisfy', cursive;
	font-style: normal;
	font-weight: 990;
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
}

#contact hr {
	width: 67%;
    border-bottom: 4px dotted #A3A09F;
    margin: auto;
    border-top: 0px;
}

#contact .label-input{
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
	color: #223a77;
}

.label-input:after{
	content: ' * ';
}

#contact input.btn{
	border-radius: 13px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 30px;
	cursor: alias;
}

input[name=name]{
	padding: 20px !important;
	background: #e2d8ce !important;
}

input[name=email]{
	padding: 20px !important;
	background: #e2d8ce !important;	
}

textarea[name=message]{
	padding: 20px !important;
	background: #e2d8ce !important;	
}

input[type=submit]{
	background: #223a77 !important;
}

input[type=submit]:hover{
	border-width: 1px;
	border-color: #a6a6a8;
	background: #a6a6a8 !important;
}

footer{
	margin-top: 18px;	
	background: #a6a6a8;
	padding: 12px;
}

footer .copyright{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 5px;
}

footer .copyright a{
 	color: #333;
}

footer .copyright .social{
	width: 32px;
	height: 35px;
	padding: 10px 0;
	cursor: alias;
}

footer#footer-musings{
	margin-top: 0px;	
	background: #a6a6a8; 
	padding: 12px;
}