{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Safa Fathya Azzizah-musings</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poppins|Satisfy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dekko|Londrina+Outline|Loved+by+the+King&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Londrina+Shadow&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- mau ngambil nav.html sebagai bagian dr musings, extends : untuk jadiin parent -->
	{% include 'nav.html' %} 

	<div id="musings">
		<div class="musings-top">
		<h2>----- MUSINGS -----</h2>
		</div>
		

		<div class="musings">
			<hr>
			
			<div class="col-md-12 p-0">
  			<div class="col-md-6 float-left musings-left">
  				<p class="quote4">"Motivation is what gets you started. Habit is what keeps you going."<br>– Jim Rohn</p>
    			<p class="quote5">"Strive for continuous improvement, instead of perfection."<br>– Kim Collins</p>
  			</div>

  			<div class="col-md-6 float-right musings-right">
  				<img class="img-thumbnail" src="{% static 'img/foto1.jpg' %}">
  			</div>
  			</div>


  			<div class="col-md-12 p-0">
  			<div class="col-md-6 float-left musings-left">
  				<img class="img-thumbnail" src="{% static 'img/foto2.jpg' %}">
  			</div>

  			<div class="col-md-6 float-right musings-right">
  				<p class="quote6">"Love yourself no matter who you are or where you come from."<br>- Diane Guerrero</p>
    			<p class="quote7">“Loving ourselves works miracles in our lives.”<br>- Louise Hay</p>
  			</div>
  			</div>


  			<div class="col-md-12 p-0">
  			<div class="col-md-6 float-left musings-left">
  				<p class="quote8">"The most important thing is to enjoy your life – to be happy – it’s all that matters." - Audrey Hepburn</p>
    			<p class="quote9">"Happiness depends upon ourselves."<br>- Aristotle</p>
  			</div>

  			<div class="col-md-6 float-right musings-right">
  				<img class="img-thumbnail" src="{% static 'img/foto3.jpg' %}">
  			</div>
  			</div>


		</div>
	</div>

	<footer id="footer-musings">
		<div class="copyright">
			Safa Fathya Azzizah © 2019
			<div class="social-media">
				<a href="https://id.linkedin.com/in/safa-fathya-788689177" target="_blank"><i class="fa fa-linkedin fa-w-14 social"></i></a>
				<a href="https://www.facebook.com/tya.fs" target="_blank"><i class="fa fa-facebook fa-w-14 social"></i></a>
				<a href="mailto:safafathya@ui.ac.id" target="_blank"><i class="fa fa-envelope-square fa-w-14 social"></i></a>
			</div>
		</div>
	</footer>

	</body>
</html>