    {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Safa Fathya Azzizah-musings</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poppins|Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dekko|Londrina+Outline|Loved+by+the+King&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Londrina+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- mau ngambil nav.html sebagai bagian dr musings, extends : untuk jadiin parent -->
  {% include 'nav.html' %} 


  <form method ="POST">
      {% csrf_token %}
        
                <!-- <div class="bg-white card mb-2 order-list shadow-sm"> -->
                <div class="gold-members p-4">
                
                <div class="form-group">
                    <label>{{kegiatan_form.nama_kegiatan.label}}</label>
                    <!-- <input type="text" class="form-control" name="nama_kegiatan"> -->
                    {{kegiatan_form.nama_kegiatan}}
                </div>

                <div class="form-group">
                    <label>{{kegiatan_form.tanggal.label}}</label>
                    <!-- <input type="text" class="form-control" name="nama_kegiatan"> -->
                    {{kegiatan_form.tanggal}}
                </div>


                <div class="form-group">
                    <label>{{kegiatan_form.kategori.label}}</label>
                    <!-- <input type="text" class="form-control" name="nama_kegiatan"> -->
                    {{kegiatan_form.kategori}}
                </div>


              <div class="form-group">
                <label>{{kegiatan_form.tempat.label}}</label>
                <!-- <textarea class="form-control" name="tempat" rows="3"></textarea> -->
                {{kegiatan_form.tempat}}
              </div>

                
                <input type="submit" class="btn btn-sm btn-success float-right" value="Save">
              </div>
        </form>



  <footer id="footer-musings">
    <div class="copyright">
      Safa Fathya Azzizah © 2019
      <div class="social-media">
        <a href="https://id.linkedin.com/in/safa-fathya-788689177" target="_blank"><i class="fa fa-linkedin fa-w-14 social"></i></a>
        <a href="https://www.facebook.com/tya.fs" target="_blank"><i class="fa fa-facebook fa-w-14 social"></i></a>
        <a href="mailto:safafathya@ui.ac.id" target="_blank"><i class="fa fa-envelope-square fa-w-14 social"></i></a>
      </div>
    </div>
  </footer>

  </body>
  {% block script %} <script src="{% static 'app.js' %}"></script> {% endblock  %}
</html>        

      