{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Safa Fathya Azzizah-musings</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poppins|Satisfy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dekko|Londrina+Outline|Loved+by+the+King&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Londrina+Shadow&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- mau ngambil nav.html sebagai bagian dr musings, extends : untuk jadiin parent -->
	{% include 'nav.html' %} 

	<div id="musings">

		<div class="musings-top">
		<h2>----- Details Schedules -----</h2>
		</div>
		
		<div class="col-lg-8 offset-md-2 mt-3 mb-5">
		<div class="bg-white card mb-2 order-list shadow-sm">
			
			<div class="gold-members p-2">
				{% for posts in post %}
				<div class="col-12 mt-2 pb-3">
					<div><h1>{{ posts.nama_kegiatan }}</h1> 
						<label for="tanggal" class="d-block"><b>Tanggal :</b> {{ posts.tanggal }}</label> 
						<label for="kategori" class="d-block"><b>Kategori :</b> {{ posts.kategori }} </label> 
						<hr class="my-2"> 
						<label for="tempat"><b>Tempat :</b></label> 
						<p>{{ posts.tempat }}</p>
					</div>
					<a class="btn btn-sm btn-danger" href="{% url 'schedulesdelete' posts.id %}"> Delete </a>
				</div>
				{% endfor %}
				 <a class="btn btn-sm btn-dark pull-right" href="../../schedules"> Kembali </a>
				 <a class="btn btn-sm btn-dark pull-right" href="{% url 'schedules_add' %}"> Tambah </a>
			</div>
		</div>
		</div>
	</div>



	<footer id="footer-musings">
		<div class="copyright">
			Safa Fathya Azzizah © 2019
			<div class="social-media">
				<a href="https://id.linkedin.com/in/safa-fathya-788689177" target="_blank"><i class="fa fa-linkedin fa-w-14 social"></i></a>
				<a href="https://www.facebook.com/tya.fs" target="_blank"><i class="fa fa-facebook fa-w-14 social"></i></a>
				<a href="mailto:safafathya@ui.ac.id" target="_blank"><i class="fa fa-envelope-square fa-w-14 social"></i></a>
			</div>
		</div>
	</footer>

	</body>
</html>