{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Safa Fathya Azzizah</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poppins|Satisfy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dekko|Londrina+Outline|Loved+by+the+King&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee|Londrina+Shadow&display=swap" rel="stylesheet">
		<!-- formatnya django bilang kalo story3 ada di static -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}"> 

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</head> 

	<body>
	{% include 'nav.html'%}

	<div id = "home">

		<header class="page-header header container-fluid">
			<div class="overlay"></div>
			<div class="description">
				<h1>SAFA FATHYA AZZIZAH</h1>
				<div class="horizontal-line mx-auto"></div>
				<p class="mt-3">INTERACTIVE RESUME</p>
			</div>
			<p id = "readmore">READ MORE</p>
			<a href="#about" class="btn-scroll-down">
				<i class="fa fa-chevron-down"></i>
			</a>
		</header>

	</div>


	<div id="about">
		<h2>----- ABOUT -----</h2>
		<p class="quote1">"Getting to know each other is always the best stage."<br>- Unknown</p>
		<hr>

		<div class="about">
			<div class="col-md-12">
  			
  			<div class="col-md-6 float-left about-left">
    			<div class="profile-img">
    				<img src="{% static 'img/profileimg.JPG' %}" alt="Safa Fathya Azzizah">
    			</div>
    			<p id="desc">I am a second year student of bachelor in Computer Science at University of Indonesia. I am a dreamer and I am going to make a very beautiful life.</p>
  			</div>

  			<div class="col-md-6 float-right about-right">
				<div class="form-group form-profile">
					<label for="name">Name : </label> <div class="input-group">Safa Fathya Azzizah</div> 
				</div>
				<div class="form-group pt-2 form-profile">
					<label for="age">Age : </label> <div class="input-group">19 years</div> 
				</div>
				<div class="form-group pt-2 form-profile">
					<label for="hobbies">Hobbies : </label> <div class="input-group">Traveling and Watching Movies</div> 
				</div>
				<div class="form-group pt-2 form-profile">
					<label for="location">Location : </label> <div class="input-group">Depok, Jawa-Barat, Indonesia</div> 
				</div>
  			</div>

  			</div>
		</div>

	</div>


	<div id="experience">
		<div class="experience-top">
		<h2>----- EXPERIENCES -----</h2>
		<p class="quote2">"Life is about creating and living experiences that are worth sharing."<br>- Steve Jobs</p>
		</div>
		

		<div class="experience">
			<hr>
			<div class="col-md-12 p-0">
  			
  			<div class="col-md-4 float-left experience-left bg-ul-satu">
  				<h3 class="satu">EDUCATIONS</h3>
    			<ul class="satu">
				  <li class="mb-4">Universitas Of Indonesia<br>2018 - current</li>
				  <li class="mb-4">SMAI Al-Azhar Kelapa Gading<br>2015 - 2018</li>
				  <li class="mb-4">Bina Cita Utama National Plus School<br>2012 - 2015</li>
				  <li class="mb-4">SDN 4 Menteng<br>2006 - 2012</li>
				</ul>
  			</div>

  			<div class="col-md-4 float-left experience-left bg-ul-dua">
  				<h3 class="dua">ORGANIZATIONS</h3>
				<ul class="dua">
				  <li class="mb-5">Staff of Jobfair, Educare<br>2018-2019</li>
				  <li class="mb-5">Vice PIC of Consumption, Al-Azhar Kelapa Gading Cup<br>2016-2017</li>
				  <li class="mb-5">Staff of Ramadhan Charity<br>2015-2017</li>
				</ul>
  			</div>

  			<div class="col-md-4 float-right bg-ul-satu">
  				<h3 class="tiga">ACHIEVEMENTS</h3>
				<ul class="tiga">
				  <li class="mb-1">Bronze Prize, International Mathematics Contest Singapore 2016</li>
				  <li class="mb-1">Duta Sanitasi Kalimantan Tengah 2014</li>
				  <li class="mb-1">1st Place, FLS2N Story Telling, city level<br>2013</li>
				  <li class="mb-1">2nd Place, FLS2N Story Telling, province level<br>2013</li>
				</ul>
  			</div>
  			</div>

		</div>
	</div>


	<div id="abilities">
		<div class="abilities-top">
		<h2>----- ABILITIES -----</h2>
		<p class="quote2">"Be yourself and believe in your abilities."<br>- Lailah Gifti Akita</p>
		</div>
		

			<div class="col-md-6 mx-auto">
			<div class="satu">
				<h4>SKILLS</h4>
			<div class="row">
				<div class="col-md-12">

					<div class="col-md-6 float-left">

						<div class="form-group">
						<label>Python</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Java</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>HTML</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>

					</div>

					<div class="col-md-6 float-right">

						<div class="form-group">
						<label>CSS</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Public Speaking</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Writing</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>

					</div>

				</div>
			</div>
			</div>


			<div class="satu">
				<h4>LANGUAGES</h4>
				<div class="row">
				<div class="col-md-12">

					<div class="col-md-6 float-left">

						<div class="form-group">
						<label>Indonesian</label>
							<div class="rating">
								<label for="star1" class="aktif"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>English</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>

					</div>

					<div class="col-md-6 float-right">

						<div class="form-group">
						<label>Arabic</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>

					</div>

				</div>
				</div>
			</div>


			<div class="satu">
				<h4>TOOLS</h4>
				<div class="row">
				<div class="col-md-12">

					<div class="col-md-6 float-left">

						<div class="form-group">
						<label>Ms Office</label>
							<div class="rating">
								<label for="star1" class="aktif"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Mac</label>
							<div class="rating">
								<label for="star1" class="aktif"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Windows</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2" class="aktif"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>



					</div>

					<div class="col-md-6 float-right">

						<div class="form-group">
						<label>Eclipse</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Sublime Text</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3" class="aktif"></label>
								<label for="star4" class="aktif"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>


						<div class="form-group">
						<label>Adobe Photoshop</label>
							<div class="rating">
								<label for="star1"></label>
								<label for="star2"></label>
								<label for="star3"></label>
								<label for="star4"></label>
								<label for="star5" class="aktif"></label>
							</div>
						</div>

					</div>

				</div>
			</div>
			</div>


			</div>
	</div>


	<div id="contact">
		<div class="contact-top">
		<h2>----- contact -----</h2>
		<p class="quote1">Let's connect with me!</p>
		<hr>
		</div>
		 

		<div class="contact">
			<div class="col-md-8 p-0 mx-auto">
  			
			  	<form>
				   <div class="form-row">

				    <div class="form-group col-md-6 mt-5">
				      <label for="inputEmail" class="label-input">Name</label>
				      <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
				    </div>

				    <div class="form-group col-md-6 mt-5">
				      <label for="inputPassword" class="label-input">Email</label>
				      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
				    </div>

				  </div>

				  <div class="form-row">
				    <div class="form-group col-md-6 mt-4 mx-auto text-center">
				      <label for="inputMessage" class="label-input">Message</label>
				      <textarea name="message" class="form-control" id="inputMessage" rows="4" placeholder="Message"></textarea>
				    </div>
				  </div>

				   <div class="form-row">
				    <div class="form-group col-md-4 mt-3 mx-auto text-center">
				      <input type="submit" class="btn btn-md btn-primary submits" value="Submit">
				    </div>
				  </div>

				</form>
			</div>
		</div>

	<footer>
		<div class="copyright">
			Safa Fathya Azzizah © 2019
			<div class="social-media">
				<a href="https://id.linkedin.com/in/safa-fathya-788689177" target="_blank"><i class="fa fa-linkedin fa-w-14 social"></i></a>
				<a href="https://www.facebook.com/tya.fs" target="_blank"><i class="fa fa-facebook fa-w-14 social"></i></a>
				<a href="mailto:safafathya@ui.ac.id" target="_blank"><i class="fa fa-envelope-square fa-w-14 social"></i></a>
			</div>
		</div>
	</footer>

	</div>

	</body>
</html>