{% load static %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark">
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}">HOME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}#about">ABOUT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}#experience">EXPERIENCES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}#abilities">ABILITIES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'musings' %}">MUSINGS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'schedulesview' %}">SCHEDULES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home' %}#contact">CONTACT</a>
			</li>
		</ul>
	</div>
</nav>